/*  your css code here. If applicable */
body{
	background: #cccccc;
	text-decoration-line:none;
	text-align:center;
}
.player_one{
	background:white;
	width:80%;
	border:1px solid black;
	border-radius:5px;
	margin:10px;
}
.player_two{
	background:white;
	width:60%;
	border:1px solid black;
	border-radius:5px;
	margin:10px;
	padding:10px;
	text-align:center;
}
a{
text-decoration-line:none;
	color:black;
}
ul,li{
	list-style-type:none;
}
h1,h2{
	text-align:center;
}
